.spacer {
  flex: 1 1 auto;
}
.sidenav-container {
  width: 500px;
  height: 100%;
  width: 100%;
}

.sidenav-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 0;
  margin: 0;
  width: 30vh;
  border: 0;
  height: 100%;
  background: #f0f0f0;
}
mat-list {
  width: 100%;
}
mat-list-item {
  cursor: pointer;
  width: 100%;
}
mat-list-item:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  width: 100%;
}
